.projects {
    padding-bottom: 96px;
}

.projects-black {
    padding-bottom: 96px;
    background-color: #111827FF;
}

.projects__title {
    text-align: center;
    margin: 0 auto;
    max-width: 120px;
    background-color: #ccc;
    padding: 6px;
    border-radius: 30px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects__title-black {
    text-align: center;
    margin: 0 auto;
    max-width: 120px;
    background-color: #374151FF;
    color: white;
    padding: 6px;
    border-radius: 30px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}


.projects__text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.projects__text-black {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}


.projects__back {
    padding: 6px 20px;
    background-color: lightgreen;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }

}

.projects__back-black {
    padding: 6px 20px;
    background-color: rgb(54, 54, 54);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
    color: white;

    &:hover {
        opacity: 0.7;
    }

}