.skills__box {
    /* background: #ffffff; */
    padding: 70px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 45px;
    justify-items: center;
    width: 100%;
}



.skills__title {
    text-align: center;
    margin: 0 auto;
    padding: 6px 16px;
    background-color: #E5E7EBFF;
    max-width: 95px;
    font-weight: 400;
    border-radius: 30px;
    margin-bottom: 15px;
}

.skills__title-black {
    text-align: center;
    margin: 0 auto;
    padding: 6px 16px;
    background-color: #374151FF;
    max-width: 95px;
    font-weight: 400;
    border-radius: 30px;
    margin-bottom: 15px;
    color: white;
}

.skills {
    padding-bottom: 96px;
    padding-top: 96px;

}

.skills-black {
    padding-bottom: 96px;
    padding-top: 96px;
    background-color: #111827FF;

}


.skills__text {
    text-align: center;
    margin-bottom: 20px;

}

.skills__text-black {
    text-align: center;
    margin-bottom: 20px;
    color: white;

}