.contact {
    padding-top: 96px;
    /* padding-bottom: 96px; */
}

.contact-black {
    padding-top: 96px;
    background-color: #030712FF;
    /* padding-bottom: 96px; */
}


.contact__title {
    text-align: center;
    margin: 0 auto;
    color: #4b5563;
    font-weight: 400;
    font-size: 20px;
    background-color: #E5E7EBFF;
    border-radius: 30px;
    max-width: 170px;
    margin-bottom: 15px;
}

.contact__title-black {
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    background-color: #374151FF;
    border-radius: 30px;
    max-width: 170px;
    margin-bottom: 15px;
}


.contact__text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}

.contact__text-black {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
}

.contact__me {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;


}

.contact__email {
    gap: 20px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: black;
    font-weight: 700;

}

.contact__tel {
    gap: 20px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: black;
    font-weight: 700;

}

.contact__email-black {
    gap: 20px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;

}

.contact__tel-black {
    gap: 20px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;

}

.contact__inner {
    display: flex;
    align-items: center;
    gap: 20px;

    & button {
        border: none;
        background-color: transparent;
        transition: 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

}


.contact__info {
    color: #4b5563;
    text-align: center;
    margin-bottom: 8px;
}

.contact__info-black {
    color: #d2d2d2;
    text-align: center;
    margin-bottom: 8px;
}

.contact__box {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-bottom: 96px;
}

.contact__last {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #F9FAFBFF;

    & a {
        text-decoration: underline;
        color: #4b5563;
    }
}

.contact__last-black {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #111826FF;

    & p {
        color: white;
    }

    & a {
        text-decoration: underline;
        color: #ffffff;
    }
}



@media(max-width:1000px) {
    .contact__email {
        font-size: 30px;
        text-align: center;
    }

    .contact__tel {
        font-size: 30px;
    }

    .contact__text {
        font-size: 16px;
    }



}


@media(max-width:802px) {
    .contact__email {
        font-size: 25px;
    }

    .contact__email-black {
        font-size: 25px;
    }

    .contact__tel {
        font-size: 25px;
    }

    .contact__tel-black {
        font-size: 25px;
    }



}


@media(max-width:683px) {
    .contact__inner {
        flex-direction: column;

        & button {
            width: 100%;

        }
    }
}

@media(max-width:619px) {
    .contact__email {
        font-size: 20px;
    }

    .contact__email-black {
        font-size: 20px;
    }

    .contact__me {
        gap: 35px;
    }

    .contact__me-black {
        gap: 35px;
    }

    .contact__tel {
        font-size: 20px;
    }

    .contact__tel-black {
        font-size: 20px;
    }

    .contact__email-img {
        width: 20px;
    }

    .contact__email-img-black {
        width: 20px;
    }

    .contact__tel-img {
        width: 20px;
    }

    .contact__tel-img-black {
        width: 20px;
    }

    .contact__copy-img {
        width: 30px;
    }

    .contact__copy-img-black {
        width: 30px;
    }

    .contact__email {
        flex-direction: column;

    }

    .contact__email-black {
        flex-direction: column;

    }

    .contact__tel {
        flex-direction: column;

    }

    .contact__tel-black {
        flex-direction: column;

    }
}


@media(max-width:461px) {
    .contact__email {
        font-size: 16px;
    }

    .contact__email-black {
        font-size: 16px;
    }

    .contact__tel {
        font-size: 16px;
    }

    .contact__tel-black {
        font-size: 16px;
    }


    .contact__text {
        font-size: 14px;
    }

    .contact__text-black {
        font-size: 14px;
    }
}