.head__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    padding-top: 16px;
    padding-bottom: 16px;
    position: fixed;
    width: 100%;
    z-index: 111;
    background-color: #fff;
}

.head-black {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #030712FF;
    position: fixed;
    width: 100%;
    z-index: 111;

}

.head__list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.head__with {
    display: flex;
    align-items: center;
    gap: 48px;
}

.head__item a {
    color: #4B5563FF;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
        text-decoration: underline;
    }
}

.head__item-black a {
    color: rgb(255, 255, 255);
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
        text-decoration: underline;
    }
}

.head__list {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}


.head__modes {
    display: flex;
    align-items: center;
    gap: 16px;

    & .head__mode {
        background-color: transparent;
        border: none;
        transition: 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }


}


.head__download {
    color: white;
    background-color: #101624FF;
    padding: 6px 16px;
    border-radius: 12px;
    font-weight: 600;
    border: none;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.head__download-black {
    color: #101624FF;
    background-color: white;
    padding: 6px 16px;
    border-radius: 12px;
    font-weight: 600;
    border: none;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}


.head__burger-btn {
    background-color: transparent;
    border: none;
    display: none;
}

.head__burger-btn-black {
    background-color: transparent;
    border: none;
    display: none;
}




.head__open {
    position: absolute;
    background-color: #ffffff;
    width: 320px;
    right: 0;
    height: 667px;
    padding: 12px;
    top: 0;
    /* display: none; */
}

.head__open-black {
    position: absolute;
    background-color: #030712FF;
    width: 320px;
    right: 0;
    height: 667px;
    padding: 12px;
    top: 0;
    /* display: none; */
}

.head__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 34px;
}

.head__close {
    background-color: transparent;
    border: none;

}

.head-open__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;
}

.head-open__item a {
    color: #626A77FF;
}

.head-open__item-black a {
    color: rgb(255, 255, 255);
}

.head__switch {
    color: #626A77FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.head__switch-black {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.head-open__mode {
    background-color: transparent;
    border: none;
}

.head-open__download {
    width: 100%;
    padding: 6px;
    border-radius: 12px;
    background-color: #111827FF;
    color: white;
    font-weight: 600;
    border: none;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}
.head-open__download-black {
    width: 100%;
    padding: 6px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: none;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

@media(max-width:660px) {
    .head__logo img {
        width: 70px;
    }
}

@media(max-width:630px) {
    .head__burger-btn {
        display: inline-block;
    }

    .head__burger-btn-black {
        display: inline-block;
    }

    .head__list {
        display: none;
    }

    .head__modes {
        display: none;
    }
}