.works {
    background-color: #F9FAFBFF;
    padding-top: 96px;
    padding-bottom: 96px;
}

.works-black {
    background-color: #111827FF;
    padding-top: 96px;
    padding-bottom: 96px;
}



.works__title {
    background-color: #E5E7EBFF;
    text-align: center;
    margin: 0 auto;
    max-width: 95px;
    padding: 6px;
    border-radius: 30px;
    font-weight: 400;
    margin-bottom: 13px;
}

.works__title-black {
    background-color: #353F4EFF;
    text-align: center;
    margin: 0 auto;
    max-width: 95px;
    color: white;
    padding: 6px;
    border-radius: 30px;
    font-weight: 400;
    margin-bottom: 13px;
}

.works__text {
    text-align: center;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 35px;
}

.works__text-black {
    text-align: center;
    font-weight: 600;
    font-size: 23px;
    color: white;
    margin-bottom: 35px;
}


.works__item {
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    /* align-items: center; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 12px;
}

.works__item-black {
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    /* align-items: center; */
    background-color: #1F2937FF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.works__photo {
    padding: 48px;
    background-color: #E5E7EBFF;
    border-radius: 12px;


    & img {
        border-radius: 12px;

    }
}

.works__photo-black {
    padding: 48px;
    background-color: #374151FF;
    border-radius: 12px;


    & img {
        border-radius: 12px;

    }
}

.works__content {
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    /* background-color: #E5E7EBFF; */
}

.works__content-black {
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 12px;

    /* background-color: #1F2937FF; */

    /* background-color: #E5E7EBFF; */
}

.works__name {
    font-size: 40px;
    text-transform: uppercase;

}

.works__name-black {
    font-size: 40px;
    text-transform: uppercase;
    color: white;

}

.works__info {
    color: #4A5361FF;

}

.works__info-black {
    color: rgb(235, 235, 235);

}

.works__texnologies {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;


}

.works__btns {
    background-color: #E5E7EBFF;
    padding: 4px 20px;
    color: #4B5563FF;
    border-radius: 30px;

    border: none;
    transition: 0.3s;
    font-weight: 700;

    &:hover {
        opacity: 0.7;
    }
}

.works__btns-black {
    background-color: #353F4EFF;
    /* background-color: #E5E7EBFF; */
    padding: 4px 20px;
    color: rgb(255, 255, 255);
    border-radius: 30px;

    border: none;
    transition: 0.3s;
    font-weight: 600;


    &:hover {
        opacity: 0.7;
    }
}

.works__more {
    display: flex;
    align-items: center;
    gap: 20px;

}


.works__list {
    display: flex;
    flex-direction: column;
    gap: 48px;


}


.works__item:nth-child(2n) {
    flex-direction: row-reverse;
}

.works__last {
    text-align: center;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.works__moree {
    padding: 8px;
    border-radius: 30px;
    border: none;
    background-color: lightblue;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.works__moree-black {
    padding: 8px;
    border-radius: 30px;
    border: none;
    background-color: rgb(56, 59, 56);
    font-weight: 500;
    color: #fff;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}


@media(max-width:955px) {
    .works__photo img {
        width: 350px;
        /* height: 100%; */
    }

    .works__photo-black img {
        width: 350px;
        /* height: 100%; */
    }

    .works__item {
        align-items: flex-start;
    }

    .works__item-black {
        align-items: flex-start;
    }

    .works__content {
        padding: 29px;
    }

    .works__content-black {
        padding: 29px;
    }

    .works__name {
        font-size: 22px;
    }

    .works__name-black {
        font-size: 22px;
    }

    .works__btns {
        font-size: 12px;
    }

    .works__btns-black {
        font-size: 12px;
    }

    .works__photo {
        padding: 30px;
    }

    .works__photo-black {
        padding: 30px;
    }
}

@media(max-width:900px) {
    .works__item {
        flex-direction: column;
        align-items: center;

    }

    .works__item-black {
        flex-direction: column;
        align-items: center;

    }

    .works__item:nth-child(2n) {
        flex-direction: column;
        align-items: center;

    }

    .works__item-black:nth-child(2n) {
        flex-direction: column;
        align-items: center;

    }

    .works__photo {
        text-align: center;

    }

    .works__photo-black {
        text-align: center;

    }

    .works__content {
        text-align: center;
    }

    .works__content-black {
        text-align: center;
    }


    .works__more {
        justify-content: center;
    }

    .works__more-black {
        justify-content: center;
    }


}


@media(max-width:581px) {
    .works__texnologies {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media(max-width:451px) {
    .works__photo {
        padding: 0 35px;
    }

    .works__photo-black {
        padding: 0 35px;
    }

    .works__photo img {
        width: 300px;
    }

    .works__photo-black img {
        width: 300px;
    }
}

@media(max-width:410px) {
    .works__photo {
        padding: 0 23px;
    }

    .works__photo-black {
        padding: 0 23px;
    }

    .works__photo img {
        width: 250px;
    }

    .works__photo-black img {
        width: 250px;
    }
}

@media(max-width:336px) {
    .works__photo {
        padding: 0 18px;
    }

    .works__photo-black {
        padding: 0 18px;
    }

    .works__photo img {
        width: 220px;
    }

    .works__photo-black img {
        width: 220px;
    }
}